body
{
    background-color: #00d0ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
button
{
    position: absolute;
    background: #00d0ff;
    margin-top: 40%;   
    border-color: darkblue;
    border-width: 100px;
    font-size: 50px;
    font-style: bolder;
    font-family:Arial, Helvetica, sans-serif;
}
h1
{
    display:none;
}